@keyframes rotateLogo {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-90deg);
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    transform: translate3d(0, 100%, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes smoothIn {
  0% {
    transform: translateX(-30px);
  }

  50% {
    transform: translateX(30px);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes scaleIn {
  0% {
    transform: scale(0.25);
  }

  75% {
    transform: scale(1.15);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
