.features {
  background: var(--color-secondary);

  h2 {
    padding: 100px 0;
    font-weight: bold;
    font-size: 40px;
    line-height: 150%;
    text-align: center;
    margin: 0 auto;
    color: #ffffff;
    max-width: 758px;
  }

  &__feat {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: 90px;
    padding-bottom: 120px;

    .feat__text {
      max-width: 450px;

      h3 {
        font-weight: bold;
        font-size: 32px;
        line-height: 150%;
        color: #ffffff;
        margin-bottom: 24px;
      }

      p {
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.01em;
        color: #e0e0e0;
        margin-bottom: 32px;
      }
    }

    img.feat__illu-invest {
      max-height: 427px;
    }

    img.feat__illu-statistics {
      max-height: 453px;
    }

    img.feat__illu-table {
      max-height: 334px;
    }
  }

  .container {
    position: relative;
    overflow: hidden;

    &::before {
      position: absolute;
      content: '';
      width: 686px;
      height: 686px;
      left: 0;
      top: -457px;
      border-radius: 50%;
      background: conic-gradient(
        from 180deg at 50% 50%,
        rgba(255, 255, 255, 0.16) 0deg,
        rgba(255, 255, 255, 0) 360deg
      );
      transform: rotate(90deg);
    }

    &:after {
      position: absolute;
      content: '';
      bottom: -400px;
      right: -475px;
      width: 686px;
      height: 686px;
      border-radius: 50%;
      background: conic-gradient(
        from 180deg at 50% 50%,
        rgba(255, 255, 255, 0.08) 0deg,
        rgba(255, 255, 255, 0) 360deg
      );
      transform: rotate(-120deg);
    }
  }
}

@media screen and (max-width: 550px) {
  .features__feat {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-column-gap: inherit;
    padding-bottom: 60px;

    img {
      display: none;
    }
  }
}
