.trade-securely {
  background: linear-gradient(180deg, #f8f9fb 0%, #fafbff 100%);

  .container {
    position: relative;
    padding-top: 316px;
  }

  &__calculator {
    background-color: #fff;
    filter: drop-shadow(0px 20px 200px rgba(57, 23, 119, 0.05));
    border-radius: 16px;
    width: 942px;
    height: 371px;
    margin: 0 auto;
    position: absolute;
    top: -155px;
    left: 12%;
  }

  h2 {
    max-width: 742px;
    font-weight: bold;
    font-size: 40px;
    line-height: 150%;
    color: #0d0d2b;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 64px;
  }

  &__cryptocurrencies {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-column-gap: 45px;
    margin-bottom: 100px;

    .cryptocurrencies__card {
      padding: 48px 24px;
      border-radius: 16px;
      background: #fff;
      text-align: center;
      opacity: 0;
      animation: smoothIn 0.75s forwards 0.2s ease;

      img.card__cryptocurrency {
        width: 80px;
        height: 80px;
        margin-bottom: 48px;
        margin-left: auto;
        margin-right: auto;
      }

      h3 {
        font-weight: bold;
        font-size: 32px;
        line-height: 150%;
        text-align: center;
        color: #0d0d2b;
        margin-bottom: 16px;

        span {
          font-size: 18px;
          opacity: 0.7;
        }
      }

      p {
        font-size: 16px;
        line-height: 28px;
        text-align: center;
        letter-spacing: 0.01em;
        color: #828282;
        margin-bottom: 24px;
      }

      &:hover,
      &.active {
        background: var(--color-secondary);
        backdrop-filter: blur(250px);

        h3 {
          color: #fff;

          span {
            color: #bdbdbd;
          }
        }

        p {
          color: #fff;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .trade-securely__calculator {
    width: 200px;
  }
}

@media screen and (max-width: 768px) {
  .trade-securely__calculator {
    width: 200px;
  }

  .trade-securely__cryptocurrencies {
    grid-gap: 32px;
  }

  .trade-securely .btn.btn-action {
    padding: 8px 8px 8px 12px;
    font-size: 14px;
  }
}

@media screen and (max-width: 550px) {
  .trade-securely__cryptocurrencies {
    grid-template-columns: repeat(1, 1fr);
  }

  .trade-securely h2 {
    font-size: 20px;
  }
}
