.trade-securely {
  background: linear-gradient(180deg, #f8f9fb 0%, #fafbff 100%);

  .container {
    position: relative;
    padding-top: 316px;
  }

  &__calculator {
    filter: drop-shadow(0px 20px 200px rgba(57, 23, 119, 0.05));
    width: 942px;
    height: 371px;
    margin: 0 auto;
    position: absolute;
    top: -148px;
    left: 12%;

    .calculator__form {
      background-color: #fbfcfe;
      padding: 48px;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      div {
        width: 100%;
        display: flex;
        padding-right: 48px;
      }

      input {
        width: 100%;
        margin-right: 48px;
      }

      select,
      input {
        border-bottom: 1px solid #e0e0e0;
        padding-bottom: 8px;
        min-width: 200px;
      }
    }

    .calculator__info {
      padding: 48px;
      background-color: #fff;
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;

      h4 {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: var(--color-primary);
        margin-top: 0;
        margin-bottom: 16px;
      }

      .info__conversion {
        margin-bottom: 4px;
        font-weight: bold;
        font-size: 32px;
        line-height: 150%;
        letter-spacing: 0.04em;
        color: #0d0d2b;

        span {
          color: var(--color-primary);
        }
      }

      p {
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.01em;
        color: #828282;
      }
    }
  }

  h2 {
    max-width: 742px;
    font-weight: bold;
    font-size: 40px;
    line-height: 150%;
    color: #0d0d2b;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 64px;
  }

  &__cryptocurrencies {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-column-gap: 45px;
    margin-bottom: 100px;

    .cryptocurrencies__card {
      padding: 48px 24px;
      border-radius: 16px;
      background: #fff;
      text-align: center;
      opacity: 0;

      &.visible {
        animation: smoothIn 0.75s forwards 0.2s ease;
      }

      img.card__cryptocurrency {
        width: 80px;
        height: 80px;
        margin-bottom: 48px;
        margin-left: auto;
        margin-right: auto;
      }

      h3 {
        font-weight: bold;
        font-size: 32px;
        line-height: 150%;
        text-align: center;
        color: #0d0d2b;
        margin-bottom: 16px;

        span {
          font-size: 18px;
          opacity: 0.7;
        }
      }

      p {
        font-size: 16px;
        line-height: 28px;
        text-align: center;
        letter-spacing: 0.01em;
        color: #828282;
        margin-bottom: 24px;
      }

      &:hover,
      &.active {
        background: var(--color-secondary);
        backdrop-filter: blur(250px);

        h3 {
          color: #fff;

          span {
            color: #bdbdbd;
          }
        }

        p {
          color: #fff;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .trade-securely .container {
    padding-top: 380px;
  }

  .trade-securely__calculator {
    width: calc(100% - 80px);
    left: 40px;
    right: 40px;
  }

  .trade-securely__calculator .calculator__form {
    input,
    select,
    button {
      margin-top: 12px;
    }
  }

  .trade-securely__calculator .calculator__form,
  .trade-securely__calculator .calculator__info {
    padding: 24px;
  }

  .trade-securely__calculator .calculator__info .info__conversion {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .trade-securely__calculator .calculator__form {
    flex-direction: column;

    div {
      flex-direction: column;
    }
  }

  .trade-securely__cryptocurrencies {
    grid-gap: 32px;
  }

  .trade-securely .btn.btn-action {
    padding: 8px 8px 8px 12px;
    font-size: 14px;
  }
}

@media screen and (max-width: 550px) {
  .trade-securely__cryptocurrencies {
    grid-template-columns: repeat(1, 1fr);
  }

  .trade-securely h2 {
    font-size: 20px;
  }
}
